.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: translateZ(0);

  .header-real {
    background: #fff;
    padding: 10px 0;
  }
}

.menu-open {
  position: relative;
  float: right;
  width: 42px;
  height: 37px;
  padding: 10px;
  cursor: pointer;
  background: none;
  border: 0;
  margin: -6px -10px 0 0;
  background: rgba(0, 0, 0, 0.0001);

  &:hover, &:focus {
    span, span:before, span:after {
      background:#000;
    }
  }

  span {
    position: absolute;
    top: 17px;
    left: 10px;
    right: 10px;
    display: block;
    height: 3px;
    background: #ff7b00;
    transition: background-color 0.3s ease;

    &:before, &:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ff7b00;
      transition: background-color 0.3s ease;
      transition: transform 0.3s ease, background-color 0.3s ease;
    }

    &:before {top: -7px;}
    &:after {bottom: -7px;}
  }
}

.menu-close {
  position: absolute;
  top: 15px;
  right: 22px;
  padding: 10px;
  font-size: 15px;
  color: #ff7b00;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1), visibility 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-close-button {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;

  &.active .icon-close {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition-delay: 0.3s;
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  min-width: 280px;
  background: #fff;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%) translateZ(0);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1), visibility 0.4s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);

  .menu-inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    min-width: 240px;

    @media #{$breakpoint-medium} {
      left: 100px;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 1px dashed #ccc;
    }

    nav {
      position: relative;
      z-index: 2;
      padding: 80px 0;
      overflow-y: scroll;
      overflow-y: auto;
      height: 100%;

      a {
        position: relative;
        display: block;
        font-size: 36px;
        padding: 5px 30px 8px;
        line-height: 1;
        margin: 45px 0 0;
        overflow: hidden;
        opacity: 0;
        transform: translateX(-10px);
        transition: transform 0.3s ease, opacity 0.3s ease;

        &:first-child {
          margin: 0;
        }

        span {
          display: block;
          font-weight: 400;
          margin: 14px 0 0;
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 3px;
          z-index: 1;
          background: #000;
          visibility: hidden;
          opacity: 0;
          transform: scale(1, 0);
          transition: transform 0.175s ease, opacity 0.175s ease, visibility 0.175s ease;
          transform-origin: 0 50% 0;
        }

        &.active:before {
          background: #ff7b00;
        }

        &.active:before, &:hover:before {
          visibility: visible;
          opacity: 1;
          transform: scale(1, 1);
        }
      }
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) translateZ(0);

    nav a {
      opacity: 1;
      transform: translateX(0);
      &:first-child { transition-delay: 0.2s; }
      &:nth-child(2) { transition-delay: 0.225s; }
      &:nth-child(3) { transition-delay: 0.25s; }
      &:nth-child(4) { transition-delay: 0.275s; }
      &:nth-child(5) { transition-delay: 0.3s; }
      &:nth-child(6) { transition-delay: 0.325s; }
    }
  }
}
