.header {
  // Remove the top rounded-corners from the navigation buttons.
  .navigation > .btn {
    border-top-left-radius:0;
    border-top-right-radius:0;

    // Will be more useful when we introduce more navigation items.
    span:not([class*='glyphicon']) {
      @media #{$breakpoint-is-small} {
        display:none;
      }
    }
  }
}

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 95%;
  background: #fff;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%) translateZ(0);
  transition:
    transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    visibility 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);

  @media #{$breakpoint-medium} {
    width: 70%;
  }

  @media #{$breakpoint-large} {
    max-width: 450px;
  }

  .drawer-inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    min-width: 240px;
    border-left:#eee dotted 1px;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) translateZ(0);

    .drawer-close {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      transition-delay: 0.2s;
    }
  }

  .drawer-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size:22px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transform: scale(0);
    transition:
      transform 0.3s cubic-bezier(0.23, 1, 0.32, 1),
      opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1),
      visibility 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
