<!DOCTYPE html>
<html>
  <head>
    <title>Foxtail</title>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div id="app">
      <%- content %>
    </div>
    <script type="text/javascript" src="/js/fastclick.js"></script>
    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>
